<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.system.module.authority.mapper.SysUserPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.system.module.authority.model.entity.SysUserPost">
        <id column="user_id" property="userId"/>
        <id column="post_id" property="postId"/>
    </resultMap>

    <insert id="insertBatchUserPost">
        insert into sys_user_post(user_id, post_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.postId})
        </foreach>
    </insert>


    <delete id="deleteUserPost">
        delete from sys_user_post where user_id in
        <foreach collection="ids" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    <select id="selectPostIdsByUserId" resultType="java.lang.Long">
        select *
        from sys_user_post
        where user_id = #{id}
    </select>

</mapper>
