<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.system.module.manage.mapper.SysPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.system.module.manage.entity.SysPost">
        <id column="post_id" property="postId"/>
        <result column="post_code" property="postCode"/>
        <result column="post_name" property="postName"/>
        <result column="sort" property="sort"/>
        <result column="deleted" property="deleted"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,create_time,deleted,post_code,post_id,post_name,sort,status,update_by,update_time
    </sql>

    <select id="selectListPosts" resultType="com.qinweizhao.system.module.manage.entity.SysPost">
        select <include refid="Base_Column_List"/> from sys_post
    </select>

    <select id="selectPagePosts" resultType="com.qinweizhao.system.module.manage.entity.SysPost">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_post
        <where>
            <if test="query.postName != null and query.postName != ''">
                post_name like concat('%', #{query.postName}, '%')
            </if>
        </where>
    </select>

</mapper>
