<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.system.module.manage.mapper.SysPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.system.module.manage.entity.SysPost">
        <id column="post_id" property="postId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="deleted" property="deleted"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by
        ,create_time,deleted,code,post_id,name,sort,status,update_by,update_time
    </sql>

    <select id="selectListPosts" resultType="com.qinweizhao.system.module.manage.entity.SysPost">
        select
        <include refid="Base_Column_List"/>
        from sys_post
    </select>

    <select id="selectPagePosts" resultType="com.qinweizhao.system.module.manage.entity.SysPost">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_post
        <where>
            <if test="query.name != null and query.name != ''">
                name like concat('%', #{query.name}, '%')
            </if>
        </where>
    </select>
    <select id="selectPostByname" resultType="com.qinweizhao.system.module.manage.entity.SysPost">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_post
        WHERE name=#{name}
    </select>
    <select id="selectPostBycode" resultType="com.qinweizhao.system.module.manage.entity.SysPost">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_post
        WHERE code=#{code}
    </select>


    <select id="listByUserId" resultType="com.qinweizhao.system.module.manage.entity.SysPost">

        SELECT p.*
        FROM sys_post p
                 LEFT JOIN sys_user_post up ON p.post_id = up.post_id
        WHERE up.user_id = #{userId}
    </select>

</mapper>
