<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.system.module.manage.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.system.module.manage.entity.SysRole">
        <id column="role_id" property="roleId"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="data_scope" property="dataScope"/>
        <result column="sort" property="sort"/>
        <result column="deleted" property="deleted"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by
        ,create_time,data_scope,deleted,description,role_id,code,name,sort,status,update_by,update_time
    </sql>

    <update id="updateStatusById">
        UPDATE sys_role
        SET status=#{status}
        WHERE role_id = #{roleId}
    </update>

    <select id="selectRoleByRoleName" resultType="com.qinweizhao.system.module.manage.entity.SysRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        WHERE name = #{name}
    </select>

    <select id="selectRoleByCode" resultType="com.qinweizhao.system.module.manage.entity.SysRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        WHERE code = #{code}
    </select>

    <select id="selectListSimpleRoles" resultType="com.qinweizhao.system.module.manage.entity.SysRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        WHERE status = #{status}
    </select>

    <select id="selectPageRoles" resultType="com.qinweizhao.system.module.manage.entity.SysRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        <where>
            <if test="query.name != null and query.name != ''">
                name like concat('%', #{query.name}, '%')
            </if>
            <!-- 开始时间检索 -->
            <if test="query.beginTime != null and query.beginTime != ''">
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{query.beginTime},'%y%m%d')
            </if>
            <!-- 结束时间检索 -->
            <if test="query.endTime != null and query.endTime != ''">
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{query.endTime},'%y%m%d')
            </if>
            AND deleted=0
        </where>
    </select>


    <select id="selectListByUserId" resultType="com.qinweizhao.system.module.manage.entity.SysRole">
        SELECT r.*
        FROM sys_role r
                 LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

</mapper>
