<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.system.module.manage.mapper.SysRoleDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.system.module.manage.entity.SysRoleDept">
        <id column="role_id" property="roleId"/>
        <id column="dept_id" property="deptId"/>
    </resultMap>


    <delete id="deleteRoleDeptByRoleIdAndDeptIds">
        DELETE FROM sys_role_dept WHERE role_id=#{roleId} AND dept_id IN
        <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </delete>
    <delete id="deleteRoleDeptByDeptId">
        DELETE FROM sys_role_dept WHERE dept_id=#{deptId}
    </delete>

    <select id="selectDeptIdsByRoleId" resultType="java.lang.Long">
        SELECT dept_id FROM sys_role_dept WHERE role_id= #{roleId}
    </select>

</mapper>
