<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.system.module.manage.mapper.SysRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.system.module.manage.entity.SysRoleMenu">
        <id column="menu_id" property="menuId"/>
        <id column="role_id" property="roleId"/>
    </resultMap>

    <insert id="insertRoleMenuByRoleIdAndMenuIds">
        insert into sys_role_menu(role_id,menu_id) values
        <foreach item="menuId" collection="menuIds" separator=",">
            (#{roleId},#{menuId})
        </foreach>
    </insert>

    <delete id="deleteRoleMenuByMenuId">
        DELETE
        FROM sys_role_menu
        WHERE menu_id = #{menuId}
    </delete>

    <delete id="deleteRoleMenuByRoleId">
        DELETE
        FROM sys_role_menu
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteRoleMenuByRoleIdAndMenuIds">
        DELETE FROM sys_role_menu WHERE role_id=#{roleId} AND menu_id IN
        <foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>

    <select id="selectListMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT menu_id
        FROM sys_role_menu
        WHERE role_id = #{id}
    </select>

</mapper>
