<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.system.module.manage.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.system.module.manage.entity.SysUser">
        <id column="user_id" property="userId"/>
        <result column="dept_id" property="deptId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="sort" property="sort"/>
        <result column="deleted" property="deleted"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <update id="updateUserStatusById">
        UPDATE sys_user
        SET status=#{status}
        WHERE user_id = #{userId}
    </update>

    <select id="selectUserByUsername" resultType="com.qinweizhao.system.module.manage.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE username = #{username}
    </select>


    <select id="selectRoleKeysByUserId" resultType="java.lang.String">
        SELECT r.role_key
        FROM sys_role r
                 LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
        WHERE ur.user_id = #{id}
    </select>

    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        SELECT r.role_id
        FROM sys_role r
                 LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
        WHERE ur.user_id = #{id}
    </select>

    <select id="selectPermissionsByUserId" resultType="java.lang.String">
        SELECT permission
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 LEFT JOIN sys_role r ON rm.role_id = r.role_id
                 LEFT JOIN sys_user_role ur ON ur.role_id = r.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <select id="selectUserIdByUsername" resultType="java.lang.Long">
        SELECT user_id
        FROM sys_user
        WHERE username = #{username}
    </select>

    <select id="selectPageUsers" resultType="com.qinweizhao.system.module.manage.entity.SysUser">
        SELECT
        avatar,create_by,create_time,deleted,dept_id,email,nick_name,password,phone,sex,sort,status,update_by,update_time,user_id,username
        FROM sys_user
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                username like concat('%', #{search.keyword}, '%')
            </if>
            <if test="deptId != null and deptId != 0">
                AND dept_id = #{deptId}
            </if>
            <!-- 开始时间检索 -->
            <if test="search.beginTime != null and search.beginTime != ''">
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{search.beginTime},'%y%m%d')
            </if>
            <!-- 结束时间检索 -->
            <if test="search.endTime != null and search.endTime != ''">
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{search.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectUserByPhone" resultType="com.qinweizhao.system.module.manage.entity.SysUser">
        select *
        from sys_user
        where phone = #{phone}
    </select>

    <select id="selectUserByEmail" resultType="com.qinweizhao.system.module.manage.entity.SysUser">
        select *
        from sys_user
        where email = #{email}
    </select>


</mapper>
